.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 10px 10px;
}

.header .title {
  text-align: center;
}

.footer {
  color: #616138; 
  font-family: Georgia;
  font-size: 15px; 
  font-weight: normal; 
  text-align: center;
  margin: 10px auto;
}

.footer a {
  text-decoration: none;
  color: #616138; 
}

.up-arrow {
  font-size: 30px;
}

.no-match {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .header {
    margin: 10px;
  }
  .title a {
    font-size: 18px;
  }
  .search-bar input {
    height: 20px;
    font-size: 12px;
  }
}
